/*******************
* mady by Nat, 2009
********************/

* {
	margin: 0;
	padding: 0;
}

html {height: 100%;}

body {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	min-width:1000px;
	position: relative;
}

body {
 	color: #252928;
	background: #fff;
}
 
body, table, input, fieldset, legend, select, textarea {
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
 }

.header, .footer, .footer_info, .main {
	width:100%;
}

.header {
	position: absolute;
	top:0 ;
	color: #74a1d8;
	text-align: left;
	display:block;
	height:120px;
}

.h_top {
	height:80px;
	background: url('/static/img/admin/bgrn_top.png') repeat-x #2d2d2d;
	text-transform:uppercase;
}

.h_bottom{
	height:36px;
	background: url('/static/img/admin/bgrn_menu.png') repeat-y #314582;
}

.h_top h1 {
	font-weight:bolder;
	color:#fff;
	font-size:xx-large;
	padding-top:10px;
}


.h_top .h_right {
	color: #686b70;
	font-weight:bold;
	text-transform:none;
	float:right;
	margin-right:10px;
	margin-top:40px;
	width:300px;
}

.h_top .h_right a{
	color: #aad1fa;
}

.h_top .h_right a:hover{
	color: #fff;
}

.h_top p, .h_top h1, .footer p, .h_bottom ul{
	width:1000px;
	margin:auto;
}

.h_bottom a {
	color:#c8dafe;
	text-decoration:none;
}

.h_bottom a:hover{
	color:#fff;
}

.main {
	padding-top:130px;
	padding-bottom:50px;
	width:1000px;
	margin:auto;
}

.main:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.footer {
	background-color:#4661a4;
	color:#fdfdfd;
	position: absolute;
	bottom: 0;
	height: 50px;
}

.footer p {
	padding:10px 20px;
}

/*************************************/
.h_bottom ul {
	list-style-type:none;
	width:1000px;
} 

.h_bottom ul li {
	display:inline;
}

.h_bottom ul li  a{
	margin-top:5px;
	padding: 5px 20px;
	float:left;
	border:1px solid transparent;
	text-decoration:none;
	text-align:center;
	height:20px;
	font-weight:bold;
} 

.h_bottom ul li  a:hover, .h_bottom ul li a.up{
	color:#252928;
	background-color:#fff;
	border:1px solid #252928;
	border-bottom:#fff;
}

/******************************************
* right block
*/

.right_block {
	background-color:#f2f2f2;
	border:1px solid #d8d8d8;
	color:  #595959;
	width:270px;
	min-height:283px;
	float:right;
}

.right_block h2 {
	background:url('/static/img/admin/right_block.png') repeat-y #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	margin:0px;
	padding:10px;
}

.right_block p {
	padding:20px;
}

.right_block a {
	color:#4f788c;
}

.right_block ul {
	padding:5px 20px;
	list-style:inside;
	list-style-type:square;
}

.right_block ul li {
	padding:2px;
}

.main_block {
	margin-right:302px;
	min-height: 200px;
}

.main_block p{
	padding:20px 0px;
}

.main_block h3 {
	padding:20px 0px 5px 0px;
	font-weight:normal;
}

.main_block p.help_hint {
	position:relative;
	font-size:xx-small;
	padding:5px 0px;
	font-style:italic;
	width:80%;
}


/****************************************
*
*/

.clear{
	clear:both;
}


/**************
* OK messages
**************/

input.error {
	border: 1px solid #913333;
	/* background-color: #e8d5ce; */
}

label {
	padding:20px 20px 5px 0px;
	font-size:larger;
	/*font-weight:bold;*/	
}

label.error {
	color: #913333;
}

span.required {
	font-size: smaller;
}

.successSummary, .errorSummary {
	padding:10px 20px;
	margin:10px 0px;
	font-size:larger;
}

div.errorSummary p {
	padding: 2px;
}

.successSummary {
	background-color: #d1d7ed;
	color: #3a5daf;
	border:1px solid #3a5daf;
}

.errorSummary {
	background-color: #e8d5ce;
	color: #913333;
	border: 1px solid #913333;
}

input, select, textarea {
	background-color:#fff;
	border:1px solid #d8d8d8;
	min-height:20px;
	padding:2px;
}

input.small {
	width:300px;
}

input.medium{
	width:460px;
}

input.large {
	width: 680px;
}

textarea.small {
	width:300px;
}

textarea.medium{
	width:460px;
}

textarea.large {
	width: 680px;
	height: 100px;
}


.button  {
	color:#fff;
	background-color:#595959;
	border:none;
	font-weight:bold;
	padding:5px;
	font-size:smaller;
	width:150px;
	text-decoration:none;
}

hr {
	height:1px;
	border-width:0;
	color:#d8d8d8;
	background-color:#d8d8d8;
	margin:10px 0px;
}

.main_block input, .main_block select, .main_block textarea {
	
}

a.button {
	color:#fff;
	text-decoration:none;
	height:30px;
}

/*****************************
* .main_block table
*****************************/
.main_block table {
	border:none;
	background-color:#f1f1f1;
	width:100%;
	border-collapse: collapse;
	border-spacing:10px;
	empty-cells:show;
	margin: 20px 0px;
}

.main_block table tr td.bottom {
	border-bottom: 1px solid #595959;
	padding-bottom:15px;
}

.main_block table tr th{
	background-color:#4661a4;
	color:#fff;
	padding:5px;
	font-weight:normal;
	font-size:x-small;
	text-transform:uppercase;
	text-align:left;
}

.main_block table tr td{
	padding:15px 10px 5px 10px;
	vertical-align:top;
}

.main_block table .line {
	background-color: #cde;
}

.main_block table a {
	color:#4f788c;
}

.center {
	text-align:center;
}

.right {
	text-align:right;
}

/*****************************
* DIV
*****************************/

.d_p10 {
	padding:10px;
}
