Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# Make admin access more easy.
RewriteRule ^admin/?$ /profile [L,R]

# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
